*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.button-head{
    width: 124px;
    height: 51px;
    background:  #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;

}
.logo-img{
    height: 500px;
    width: 595.18px;
    margin-top: 161px;
    margin-left: 121px;
    display: inline-block;

}

header{
    
    margin-top: 47px;
    margin-left: 42px;
    
}

section{
    display: inline-block;
    margin-left: px;
}

.menu{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
}

h1{
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    height: 99px;
}

.button-body{
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}
